body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    margin: 2%;
}

table {
    width: 5%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(168, 242, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 20px;
    text-align: center;
}

th {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}

tr:hover {
    background-color: #c6e2ff;
}

h1{
    
    color: #2521ff;
    font-size: 40px;
    text-align: center;

}
h3 {
    text-align: center;
margin-left: 5%;
}

.tabelas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabelas div{
    margin: 5%;
}

#tamanho{
    font-size: 50px;
}

.linha{
    color: #2521ff; /* Cor vermelha */
  border: 2px solid #2521ff; /* Borda vermelha sólida de 2px */
  height: 0px;
  border-collapse: collapse;
}

h2{
    text-align: center;
}

a{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    text-align: center;
    list-style: none;
}